*.suo
*.user
_ReSharper.*
bin
obj
packages
Src/Trials/ConsoleApp/bin/
Src/Trials/ConsoleApp/obj/
.vs/slnx.sqlite
Src/Trials/ConsoleApp/obj/ConsoleApp.csproj.nuget.cache
Src/Trials/ConsoleApp/obj/ConsoleApp.csproj.nuget.cache
Src/Trials/ConsoleApp/obj/project.assets.json
Src/Trials/ConsoleApp/obj/ConsoleApp.csproj.nuget.cache
Src/Trials/ConsoleApp/obj/ConsoleApp.csproj.nuget.dgspec.json
Src/Trials/ConsoleApp/obj/ConsoleApp.csproj.nuget.g.props
Src/Trials/ConsoleApp/obj/project.assets.json
Src/Trials/ConsoleApp/obj/ConsoleApp.csproj.nuget.cache
Src/Trials/ConsoleApp/obj/ConsoleApp.csproj.nuget.dgspec.json
Src/Trials/ConsoleApp/obj/ConsoleApp.csproj.nuget.cache
Src/Trials/ConsoleApp/obj/ConsoleApp.csproj.nuget.cache
Src/Trials/ConsoleApp/obj/ConsoleApp.csproj.nuget.dgspec.json
Src/Trials/ConsoleApp/obj/ConsoleApp.csproj.nuget.cache
Src/Trials/ConsoleApp/obj/project.assets.json
Src/Trials/ConsoleApp/EL/bin/Debug/netcoreapp3.1/SIS.OpenCore.EL.deps.json
Src/Trials/ConsoleApp/EL/bin/Debug/netcoreapp3.1/SIS.OpenCore.EL.deps.json
Src/Trials/ConsoleApp/EL/bin/Debug/netcoreapp3.1/SIS.OpenCore.EL.deps.json
Src/Trials/ConsoleApp/EL/bin/Debug/netcoreapp3.1/SIS.OpenCore.EL.dll
Src/Trials/ConsoleApp/EL/obj/project.assets.json
Src/Trials/ConsoleApp/webapi/appsettings.Development.json
Src/Trials/ConsoleApp/webapi/appsettings.json
/Src/Trials/ConsoleApp/.vs/ConsoleApp/DesignTimeBuild/.dtbcache.v2
/.vs/slnx.sqlite-journal
/Src/Trials/ConsoleApp/.vs/ConsoleApp/v16/TestStore/0/000.testlog
/Src/Trials/ConsoleApp/.vs/ConsoleApp/v16/TestStore/0/000.testlog
/Src/Trials/ConsoleApp/.vs/ConsoleApp/v16/TestStore/0/testlog.manifest
/Src/.vs/ConsoleApp/v16/TestStore/0/000.testlog
/Src/.vs/ConsoleApp/v16/TestStore/0/testlog.manifest
/Src/.vscode/launch.json
/Src/.vscode/tasks.json
/Src/.vs/SIS.OpenCore.Server/v16/TestStore/0/testlog.manifest
/Src/.vs/SIS.OpenCore.Server/v16/TestStore/0/000.testlog
/Src/.vs/SIS.OpenCore.Server/DesignTimeBuild/.dtbcache.v2
/Src/___Trials/ConsoleApp/.vs/ConsoleApp/DesignTimeBuild/.dtbcache.v2
/Src/___Trials/ConsoleApp/.vs/ConsoleApp/v16/TestStore/0/testlog.manifest
/Src/.vs/SIS.OpenCore.Server/config/applicationhost.config
/Src/.vs/SIS.OpenCore.Server/v16/TestStore/0/004.testlog
/Src/.vs/SIS.OpenCore.Server/v16/TestStore/0/005.testlog
/Src/.vs/SIS.OpenCore.Server/v16/TestStore/0/*.testlog
/Src/.vs/SIS.OpenCore.Client/DesignTimeBuild/.dtbcache.v2
/Src/SIS.OpenCore.Client/.vs/SIS.OpenCore.Client/DesignTimeBuild/.dtbcache.v2
/Src/.vs/SIS.OpenCore.Client/config
/Src/.vs/SIS.OpenCore.Client/v16/TestStore/0/testlog.manifest
/Src/.vs/SIS.OpenCore.Client/v16/TestStore/0/000.testlog
